 #heading{
   height:250px;
   width:200px;
   color:green;
   position:center;
 }
 #one{
        height:500px;
        width:500px;
        background-image:url("https://www.imperialsugar.com/sites/default/files/styles/recipe_image_node_full/public/recipe/Cinnamon-Sugar-Banana-Lumpia-imperial.jpg");
        background-size:cover;
        float:left;
 }
  #two{
        height:500px;
        width:500px;
        background-image:url("chickenLumpia.jpeg");
        background-size:cover;
                float:left;

  }
         #three{
        height:500px;
        width:500px;
        background-image:url("shrimpLumpia.jpeg");
        background-size:cover;
                float:left;

  }
  #four{
        height:500px;
        width:500px;
        background-image:url("beefLumpia.jpeg");
        background-size:cover;
                float:left;

  }
        #five{
        height:500px;
        width:500px;
        background-image:url("veggyLumpia.jpeg");
        background-size:cover;
                float:left;

        }
        #six{
        height:500px;
        width:500px;
        background-image:url("porkLumpia.jpeg");
        background-size:cover;
                float:left;

        }
        #subtotal{
          height:25vh;
          width:20vw;
        background-color:red;
          background-image:linear-gradient(to right, red , yellow);
          background-size:cover;
          float:right;
          
        }