 #heading{
        position:relative;
        left:500px;
      }
      #one{
        height:250px;
        width:250px;
        background-image:url("bananaLumpia.jpg");
        background-size:cover;
        margin:50px;
      }
     
      
      #bananaTitle{
       font-size:25px;
      }
     
      #bananaPrice{
        font-size:30px
      }
      #amount{
        font-size:30px
      }
      #subtotal{
        background-color:#8AAAE5;
        height:300px;
        width:1000px;
      }
      #quantity{
        font-size:15px;
        font-weight:bold;
      }
      
      #display{
        font-size:15px;
        font-weight:bold;
      }